---
title: Centro Ambiental de Cabaços
---
<html>
<head>
<title>Centro Ambiental de Cabaços</title>
<style>
{% include style.css %}
</style>
</head>
<body>

<div>
{% for treasury in site.data.treasuries %}
    <h1>{{ treasury[0] }}</h1>
    {% assign sum = 0 %}
    {% for log in treasury[1] %}
        {% if log.currency == "EUR" %}
            {% assign sum = sum | plus: log.amount %}
        {% endif %}
    {% endfor %}
    <div>Treasury balance:</div>
    <div>{{ sum }} EUR</div>
{% endfor %}
</div>

</body>
</html>
